deta
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
grpcio

# databases
# pymysql



#### FOR PDF AND QR CODES
Pillow==10.2.0
PyMuPDF==1.21.1
PyQRCode==1.2.1
pyzbar==0.1.9
numpy
qrcode

# google-transliteration-api==1.0.3

#### FOR BHULEKH
beautifulsoup4==4.10.0